.markdown {
    margin-top: 10px;
    background-color: #c3ffc5;
    min-height: 500px;

    .markdown-left {
        float: left;
        background-color: #ffc234;
        width: 300px;
        padding: 20px 0 0 20px;
        min-height: 500px;
        text-align: left;
        li {
            cursor: pointer;
        }
    }
    .markdown-right {
        margin-left: 300px;
        padding: 20px;
    }
}